
/*common*/
.non-display{
    display: none;
}
/*common*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*nav*/
.profile-container {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.search-bar {
    display: flex;
    align-items: center;
    flex: 1; 
}

.search-bar input {
    margin-right: 10px;
    width: 300px;
    border-radius: 30px;
}
.search-bar,
.search-bar input,
.search-bar button {
    display: flex;
    align-items: center;
}

.search-bar {
    justify-content: center;
}

.search-bar button {
    border: 2px solid #4CAF50;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
.logout-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

/*profile-left*/
.profile-left{
    width: 90%;
    margin-left: 45px;
    border-radius: 18px;
    position: relative;
}
.profile-picture{
    height: 100px;
}
.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}
/*select*/
.select {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    color: #626262;
    font-size: 15px;
    justify-content: center;
}
.select a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.select a img {
    width: 20px;
    margin: 10px; 
}
    
/* list friend*/
.friend-site{
    position: relative;
}
.box-design{
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 1px 2px #3335;
    margin-left: 45px;
}
.all-images{
    position: absolute;
    font-size: 14px;
    right: 10px;
    top: 10px;
}
.see-all-images a{
    color:rgb(27, 99, 232)
}
.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3px;
    padding: 10px 0px 0px 0px;
}
.images-div img{
    width: 100%;
    height: 80px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 5px;
}
/*profile-right*/
.wrapper{
    width: 800px;
    margin: auto;
    border-radius: 18px;
    border: 1px solid gray;
}
.wrapper-comment{
    overflow-y: visible;
    width: 200px;
}
.wrapper-comment .comment{
    width: 100%;
    background-color: #9a9a9a;
}
.cover{
    height: 200px;
    margin: auto;
    border-radius: 18px;
    border: 1px solid gray;
}
.cover img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;;
}
.square{
    width: 800px;
    height: 250px;
    margin: auto;
    border-radius: 18px;
    position: relative;
    top: -50px;
    
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 20px;
}
.id{
    position: relative;
    top: 0px;
    margin-left: 20px;
}
.icon{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}
.icon img{
    margin-right: 10px;
}
/*detail*/
h6{
    color: rgb(41, 97, 202);
}

/*new post*/
.box-design-post{
    width: 100%;
    margin: auto;
    border-radius: 18px;
    box-shadow: 0px 1px 2px #3335;
}
.post-upload{
    display: grid;
    grid-template-columns: 5fr 10fr;
    padding-top: 10px;
    padding-right: 50px;
}
.profile-img{
    display: flex;
    display: inline-flex;
    width: 100% !important;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 15px;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.text-post{
    display: flex;
    align-items: center;
    flex: 1; 
}
.text-post input{
    margin-right: 10px;
    width: 500px;
    height: 50px;
    border-radius: 30px;
}

.photo-upload{
    width: 100%;
    height: 30px;
    margin: 10px 50px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}
.post-video{
    display: flex;
    align-items: center;
}
.post-video img{
    width: 20px;
    margin-right: 10px;
}
.submit-photo{
    display: flex;
    align-items: center;
}
.submit-photo button{
    margin-left: 10px;
    width: 20%;
}

/*posted*/
.posted{
    width: 100%;
    margin: auto;
    border-radius: 18px;
    box-shadow: 0px 1px 2px #3335;
}
.post-information{
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding: 10px;
}
.person-name{
    position: relative;
}
.person-name h2{
    font-size: 20px;
    padding-top: 7px;
    margin-left: 5px;
    margin-right: 7px;
}
.person-name p a{
    font-size: 14px;
    display: inline;
}
.person-name p span{
    margin-left: 5px; 
}
.dot {
    margin-left: 600px;
    margin-top: 0;
}
.send-request{
    background-color: #1876f2;
    color: white;
}

.comment-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-container{
    height: 50vh;
    overflow-y: auto;
}

.comment-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.comments-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    max-height: 200px; /* Hoặc chiều cao cố định khác tuỳ thuộc vào thiết kế */
    margin-bottom: 20px;
}
.comment-content{
    width: 100%;
}
.close-modal {
    font-size: 20px;
    color: #555;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.comment-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close-modal {
    font-size: 20px;
    color: #555;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.wrapper-img {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.comment-input input {
    width: 350px;
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-btn button.btn-primary {
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
}
.content {
    display: flex;
    flex-direction: column;
}

